<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="com.VehicleAnalyse.TaskService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <com.VehicleAnalyse.TaskService.Properties.Settings>
            <setting name="Bocom_ImageAnalysisClient_TaskService_WebReferenceTask_IraWebservice" serializeAs="String">
                <value>http://www.bocom.com/ira3.0</value>
            </setting>
        </com.VehicleAnalyse.TaskService.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
