<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <connectionStrings>
    <add name="ImageAnalyseEntities" connectionString="metadata=res://*/DAO.ImageAnalyseModel.csdl|res://*/DAO.ImageAnalyseModel.ssdl|res://*/DAO.ImageAnalyseModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=E:\ImageAnalyseDB_V3.s3db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>