<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="ImageAnalyseEntities" connectionString="metadata=res://*/DAO.ImageAnalyseModel.csdl|res://*/DAO.ImageAnalyseModel.ssdl|res://*/DAO.ImageAnalyseModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=e:\ImageAnalyseDB_V3.s3db&quot;" providerName="System.Data.EntityClient" />
    <add name="ImageAnalyseDBEntities" connectionString="metadata=res://*/DAO.Model1.csdl|res://*/DAO.Model1.ssdl|res://*/DAO.Model1.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=E:\ImageAnalyseDB_V3.s3db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.66.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="ServerIP" value="127.0.0.1" />
    <add key="ServerPort" value="10007" />
    <add key="UploadIP" value="127.0.0.1" />
    <add key="UploadPort" value="10005" />
    <add key="SearchIP" value="127.0.0.1" />
    <add key="SearchPort" value="9012" />
    <add key="UserName" value="root" />
    <add key="Password" value="" />
    <add key="RememberPassword" value="False" />
    <add key="RealTimeTaskSendCount" value="10" />
    <add key="UseCutomizeTitle" value="true" />
    <add key="CutomizeTitle" value="车辆识别客户端" />
    <add key="CutomizeLogo" value="logo.png" />
    <add key="SearchFeatureSettings" value="111111111111111" />
    <add key="CutomizeResultListColumns" value="0110101010101011010001010001010100" />
    <add key="ShowPeopleImg" value="False" />
    <add key="ResultExportAsXls" value="False" />
    <add key="ShowNoLogoBrand" value="False" />
    <add key="DrawVehicleRect" value="True" />
    <add key="DrawPlateRect" value="True" />
    <add key="DrawAILabelRect" value="False" />
    <add key="RealTimeVersion" value="False" />
    <add key="URLEncodingType" value="gbk" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>