<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="ImageAnalyseEntities" connectionString="metadata=res://*/DAO.ImageAnalyseModel.csdl|res://*/DAO.ImageAnalyseModel.ssdl|res://*/DAO.ImageAnalyseModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=e:\ImageAnalyseDB_V3.s3db&quot;" providerName="System.Data.EntityClient" />
    <add name="ImageAnalyseDBEntities" connectionString="metadata=res://*/DAO.Model1.csdl|res://*/DAO.Model1.ssdl|res://*/DAO.Model1.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=E:\ImageAnalyseDB_V3.s3db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.66.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="ServerIP" value="127.0.0.1" />
    <add key="ServerPort" value="10007" />
    <add key="UploadIP" value="127.0.0.1" />
    <add key="UploadPort" value="10005" />
    <add key="SearchIP" value="127.0.0.1" />
    <add key="SearchPort" value="9012" />
    <add key="UserName" value="root" />
    <add key="Password" value="" />
    <add key="RememberPassword" value="" />
    <add key="RealTimeTaskSendCount" value="10" />
    <add key="UseCutomizeTitle" value="true" />
    <!-- value="True" 可以让主窗体显示下面的标题-->
    <add key="CutomizeTitle" value="二次识别标准版客户端 V3.0" />
    <add key="CutomizeLogo" value="logo.png" />
    <add key="SearchFeatureSettings" value="111111111111111" />
    <!-- 检索条件中控制哪些可见哪些不可见： 从结果类型 ... 到遮阳板 -->
    <!--  this.columnId,
          this.columnWatchTime,
          this.columnPlateNumber,
          this.columnPlateNumberReliability,
          this.columnVehicleType,
          this.columnCarTypeConf,
          this.columnDetailVehicleType,
          this.columnCarTypeDetailConf,
          this.columnVehicleColor,
          this.columnCarColorConf,
          this.columnBrand,
          this.columnManufacturerReliability,
          this.columnModel,
          this.columnCarLabeDetailConf,
          this.columnPlateType,
          this.columnPlateColor,
          this.columnVehicleDirection,
          this.columnDriverBelt,
          this.columnDriverIsSafebeltConf,
          this.columnCoDriverBelt,
          this.columnPassengerIsSafebeltCof,
          this.columnDriverPhoneCall,
          this.columnDriverIsPhoneingConf,
          this.columnDriverShielding,
          this.columnDriverIsSunVisorConf,
          this.columnCoDriverShielding,
          this.columnPassengerIsSunVisorConf,
          this.columnConsoleIsSomething,
          this.columnConsoleIsSomethingCof,
          this.columnIsPendant,
          this.columnIsPendantCof,
          this.columnFileName,
          this.columnFullName,
    -->
    <add key="CutomizeResultListColumns" value="0110101010101011010001010001010100" /> 
    <!-- <add key="CutomizeResultListColumns" value="0111111111111111111111111111111111" />  全显示 -->
    <!-- <add key="CutomizeResultListColumns" value="0110101010101011110101010101010111" />  不带置信度 -->
    <!-- <add key="CutomizeResultListColumns" value="0111111111111111000000000000000011" />  不带特殊值 -->
    <!-- <add key="CutomizeResultListColumns" value="0110101010101011000000000000000011" />  不带置信度及特殊值 -->
    <!-- <add key="CutomizeResultListColumns" value="0110101010101011010001010001010100" />  默认值 -->


    <!--每个字符代表一列分析结果列，1 表示显示，其它隐藏 -->
    <add key="ShowPeopleImg" value="False" />
    <add key="ResultExportAsXls" value="False" />
    <add key="ShowNoLogoBrand" value="False" />
    <add key="DrawVehicleRect" value="True" />
    <add key="DrawPlateRect" value="True" />
    <add key="DrawAILabelRect" value="false" />
    <add key="RealTimeVersion" value="false" />
    <add key="URLEncodingType" value="gbk" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>